.about-us-page h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-us-page p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about-us-page ul {
    list-style: none;
    padding: 0;
}

.about-us-page ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
